/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    /* cegah scroll horizontal */
    font-family: system-ui, sans-serif;
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .rotate-x-180 {
    transform: rotateX(180deg);
  }
}